<html>
  <head>
    <title>Afficher un potin</title>
  </head>
  <body>
  <h1>PAGE POTIN</h1>
<p>Voici la page du potin n°<%=id %> </p>
<p>Son auteur : <%=gossips[0]%> </p>
<p>Le contenu du potin : <%=gossips[1]%><p>
<a href="/gossips/<%=id%>/edit/"> Lien pour éditer des potins</a> <br>
<a href="/gossips/<%=id%>/comments/"> Lien pour laisser un commentaire</a> <br>
<a href="/gossips/<%=id%>/show_comments/"> Lien pour voir les commentaires</a> <br>
<a href="/"> Lien pour revenir à la page d'accueil</a>

  </body>
</html>
